* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444444;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.6;
  font-size: 90%;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  font-family: "Old Standard TT", serif;
}
.menu_second {
  display: none;
  position: absolute;
  top: 50px;
  list-style: none;
  padding: 5px;
  background-color: white;
  z-index: 1;
}

.menu_flex-container_item:nth-child(2):hover > .menu_second {
  display: block;
}
.menu_logo {
  width: 100px;
  height: 70px;
}
.menu_flex-container {
  display: flex;
  list-style: none;
  font-size: 1.5vw;
  justify-content: space-between;
}
.menu_flex-container_item {
  padding-right: 20px;
}
.menu_flex-container_item a {
  text-decoration: none;
  color: black;
}
.row {
  display: flex; /* включение технологии flexbox */
  flex-direction: row; /* колонки в ряду */
  justify-content: center; /* колонки в центре контейнера */
  flex-wrap: nowrap; /* держать колонки в ряду */
  margin: 20px;
}

.column {
  display: flex; /* одинаковая высота колонок */
  width: 25%; /* ширина одной колонки */
  padding: 5px;
}

.card {
  border: 1px solid #efefef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  padding-bottom: 20px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
}

.card-content {
  padding: 0 20px;
}

a {
  color: #444444;
  text-decoration: none;
  transition: all 0.3s ease;
}

.card h2 {
  padding-top: 10px;
  color: #6278f7;
  font-size: 130%;
  line-height: 1.2;
}

.card p {
  margin: 20px 0 30px;
  color: #666666;
}

.button {
  display: block;
  background: #2f8cbe;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}

.button:hover,
.button:focus {
  background: #1e57d1;
}

@media screen and (max-width: 640px) {
  .row {
    flex-direction: column; /* в ряду останется одна колонка */
    flex-wrap: wrap; /* разрешен перенос колонок */
  }
  .column {
    width: 100%; /* новая ширина колонки */
    margin-bottom: 20px;
  }
}
.card_img {
  height: 200px;
}
:root {
  --base-grid: 8px;
  --colour-body-background: #4cd8a9;
  --colour-background: #fff;
  --colour-background-folded: #f5f5f5;
  --colour-background-stripes: rgba(255, 255, 255, 0.5);
  --colour-text: #1a1a1a;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

.events {
  background: var(--colour-body-background);
  font-family: Bitter;
  padding: calc(var(--base-grid) * 5);
}

.articles {
  margin: calc(var(--base-grid) * 2) auto calc(var(--base-grid) * 5);
  display: grid;
  grid-row-gap: calc(var(--base-grid) * 8);
  grid-column-gap: calc(var(--base-grid) * 6);
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(var(--base-grid) * 35), 1fr)
  );
  justify-items: center;
}

.articles__article {
  cursor: pointer;
  display: block;
  position: relative;
  perspective: 1000px;
  animation-name: animateIn;
  animation-duration: 0.35s;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.articles__article:before {
  content: "";
  position: absolute;
  top: calc(var(--base-grid) * -2);
  left: calc(var(--base-grid) * -2);
  border: 2px dashed var(--colour-background);
  background-image: repeating-linear-gradient(
    -24deg,
    transparent,
    transparent 4px,
    var(--colour-background-stripes) 0,
    var(--colour-background-stripes) 5px
  );
  z-index: -1;
}

.articles__article,
.articles__article:before {
  width: calc(var(--base-grid) * 35);
  height: calc(var(--base-grid) * 35);
}

.articles__link {
  background-color: var(--colour-body-background);
  border: 2px solid var(--colour-background);
  display: block;
  width: 100%;
  height: 100%;
}

.articles__link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(var(--base-grid) * 3);
  width: calc(var(--base-grid) * 2);
  height: calc(var(--base-grid) * 2);
  margin-top: calc(var(--base-grid) * -1);
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
  -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
  background-color: var(--colour-background);
  opacity: 0;
  transition: opacity 0.5s ease-in, transform 0.3s ease-in-out 0ms;
}

.articles__content {
  background-color: var(--colour-background);
  color: var(--colour-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: calc(var(--base-grid) * 2);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--colour-background);
}

.articles__content--lhs {
  clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
}

.articles__content--rhs {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  transition: transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
}

.articles__title {
  font-size: calc(var(--base-grid) * 4);
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.articles__footer {
  margin-top: auto;
  font-size: calc(var(--base-grid) * 2);
  line-height: calc(var(--base-grid) * 2);
  display: flex;
  justify-content: space-between;
}

.articles__link:hover .articles__content--rhs {
  background-color: var(--colour-background-folded);
  transform: rotateY(-50deg);
}

.articles__link:hover:after {
  opacity: 1;
  transform: translateX(calc(var(--base-grid) * 1.5));
  transition: opacity 0.5s ease-in, transform 0.3s ease-in-out 0.25s;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(153, 241, 175);
}
.footer-container_p {
  font-family: "Old Standard TT", serif;
  color: rgb(49, 47, 47);
}
.description_screen {
  
  width: 100vw;
  padding: 30px 0 100px;

  background-color: rgba(193, 235, 233, 0.993);
}
main h1{
  font-family: "Old Standard TT", serif;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  padding:20px;
}

.description_block {
  width: 50vw;
  margin: auto;
  padding: 50px;
  font-family: "Old Standard TT", serif;
font-size: 15px;
  color: black;
  border-radius: 20px;
  border: 2px dashed rgb(56, 94, 67);
  box-shadow: inset 2px 2px 20px #4d887b,
    inset -5px -5px 20px rgb(224, 232, 235);
}
.description_h2 {
  margin: 0 auto;
  padding-top: 20px;

  font-size: 3vw;
  font-weight: normal;
}
.description_p {
  color: rgb(48, 46, 46);
  text-shadow: none;
  font-family: "Old Standard TT", serif;
}
@media print {
  
  .description_screen, .events {
    background-color: white;
    padding: 0;
  }
  
  .articles__article {
    border: 1px solid black;
  }
  .center {
    margin: 0;
  }
  .footer-container {
      background-color: white;
  }
  .sidenav{
      display: none;
  }
}